AI/TBETS_copied/
bin/Release/experiment_autobattles_folders/
bin/Release/autobattle/
bin/gameresults/
.mono/
.venv/
Taylor/archive/
Taylor/autobattle/
Taylor/cs_original/
Taylor/logs/
Taylor/models/
Taylor/output-csv/
Taylor/py-legacy/
Taylor/__pycache__/
Taylor/port/__pycache__/